label {
  display: flex;
  padding: 8px;
}

.active+.active {
  color: #000;
  border: 1px solid #99a5ca;
  border-bottom: 0;
  border-top: 0;
}

.active+label {
  border-top: 1px solid #99a5ca;
}

.active {
  background: #d3e5ff;
}

label:not(.active)+.active,
label.active:first-child {
  color: #000;
  border: 1px solid #99a5ca;
  border-bottom: 0;
}

label.active:last-of-type {
  border-bottom: 1px solid #99a5ca !important;
}